<div class='well'>
	<div id='loc_url' class="alert alert-success">
		<a class='btn btn-info btn-mini' href="/config/logs/show/<%=@interface.id%>"><font style="color: white;">接口被调用日志</font></a>
	</div>
	<span  class="label label-info">
		已添加条件响应列表：
	</span>
	
	<br/>
	<table class="table table-striped">
		<tr>
		<th width='10%'>
			条件名称
		</th>
	    <th width='20%'>
	    	当请求参数包含
	    </th>
	    <th width='40%'>
	    	响应数据
	    </th>
	    <th width='20%'>
	    	操作
	    </th>
	  </tr>
	<% 
	if @con and @con.size != 0
		@con.each do |con|
	%>
		<tr <%if con.status=='-1'%>style="color: #c0c0c0" title="该条件已失效" <%end%>>
			<td><%=con.name%></td>
			<td>
				<%
				ps=''
				if con.in and con.in.strip != ''
				i=0
				begin
				ActiveSupport::JSON.decode(con.in).each_pair do |k,v|
					ps +=k +'=' + v+'&'
				%>
				<%=k%>=<%=v%><br/>
				<%
				end
				if ps != ''
					ps = '&' + ps[0,ps.size-1]
				end
				rescue MultiJson::DecodeError
					%>解析错误<%
				end
				else
				%>
				默认返回值，当所有条件都不匹配时。
				<%
			end
				%>
			</td>
			<td style="word-break:break-all"><pre><%=con.out%></pre></td>
			<td title="操作">
				<a class="btn btn-danger btn-mini" href='/config/<%=params[:id]%>/condition/del/<%=con.id%>' title="删除"><i class="icon-trash icon-white"></i></a>
				<%if con.status=='-1'%>
					<a class="btn btn-mini"  title="调用测试"><i class="icon-play-circle icon-white"></i></a>
					<a class="btn btn-success btn-mini" href='/config/modify/<%=con.id%>?status=0&interface_id=<%=@interface.id%>' title="使该条件生效"><i class="icon-ok icon-white"></i></a>
				<%else%>
					<a target="_blank" class="btn btn-info btn-mini" href='/api/kabao.do?method=<%=@interface.name_en + ps%>' title="调用测试"><i class="icon-play-circle icon-white"></i></a>
					<a class="btn btn-inverse btn-mini" href='/config/modify/<%=con.id%>?status=-1&interface_id=<%=@interface.id%>' title="使该条件失效"><i class="icon-off icon-white"></i></a>
				<%end%>
				<a class="btn btn-info btn-mini" href='/config/edit/<%=con.id%>' title="修改条件"><i class="icon-edit icon-white"></i></a>
			</td>
		</tr>
	<% 
		end
	else
	%> 
	<td colspan='4'>
		<span  class="label label-important">
			暂时还没有添加任何响应条件
		</span>
		</td>
	<%	
	end
	%>
	</table>
	<button class='btn' id='add_it_btn'>
		添加条件
	</button>
</div>
<div id='add_it'>
	<%=render 'add_condition_params'%>
</div>
<script>
	$(document).ready(function() {
		$('#loc_url').append('本接口调用地址:http://' + window.location.host + '/api/kabao.do?method=<%=@interface.name_en%>');
		$('#add_it').hide();
		$('#add_it_btn').click(function(){
			var add_it=$('#add_it');
			
			if(add_it.is(':hidden')){
				add_it.show(200);
			}else{
				add_it.hide(200);
			}
		})
	
	})
	

</script>